# Python
__pycache__/
*.py[cod]
*$py.class

# Database
data/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
*/env
.env.local

# Virtual environment
venv/
env/
ENV/

# Build/compilation files
build/
dist/
*.egg-info/

*/poetry.lock